# Bỏ qua file chứa mã bảo mật (CỰC KỲ QUAN TRỌNG)
.env

# Bỏ qua file database chạy thử dưới máy local
*.db
water_tracker.db

# Bỏ qua thư mục môi trường ảo và file rác của Python
venv/
__pycache__/
.pytest_cache/